@font-face {
  font-family: "Fredoka";
  src: url("./fonts/FredokaOne-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "Fredoka";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  background: #1f7bb6;
  background-image: linear-gradient(120deg, #082347 35%, rgb(26, 117, 74) 100%);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

/* scrollbar */
/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(26, 117, 74);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #082347;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0a2d5a;
}
